@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import './variables';

:root {
  --layer: #000;
  --layer1: #00000003;
  --layer2: #00000005;
  --layer4: #0000000a;
  --layer8: #00000014;
  --layer12: #0000001f;
  --layer20: #00000033;
  --layer30: #0000004d;

  --background: #fff;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  font-family: inherit;
}

body {
  box-sizing: border-box;
  font-family: $font-family;
  background-color: var(--background);
}

html {
  font-size: 60%;
}

// // prettier-ignore
// * {
//   transition: color $td ease-in-out,
//   background $td ease-in-out,
//   background-color $td ease-in-out,
//   border $td ease-in-out;
// }
