$font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;

$menu-height: 11.5rem;
$nav-width: 50rem;

$border-radius: 0.4rem;

$tf: ease-in-out;

$red: #ff4f4f;
$green: #19d179;

$td: 0.2s;
