@import '../variables.scss';

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  width: 100vw;
}

.menu {
  width: 100%;
  flex: 0 0 $menu-height;
  background-color: rgba($layer-color, 0.08);
}

.lower {
  flex: 1 1 100%;
  display: flex;
}

.content {
  flex: 1 1 100%;
}

.nav {
  flex: 0 1 50rem;
}
