$font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;

$menu-height: 11.5rem;
$nav-width: 50rem;

$background-color: white;
$layer-color: black;

$border-radius: 0.4rem;

$tf: ease-in-out;
